* text=auto
*.md text eol=lf
*.py text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.pdf binary
*.doc binary
*.DOC binary
*.docx binary
*.msg binary
*.xlsm binary
*.xlsx binary
*.zip binary
*.jam binary
